.navbar{
    margin: 20px;
    padding: 20xp 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49558e;
    font-size: 18px;
   } 
   .nav-right{
    display: flex;
    align-items: center;
    gap: 40px;
   }
   .navbar button{
      background: transparent;
      font-size: 16px;
      color:#49558e;
      border: 1px solid rgb(212, 1182, 177);
      padding: 10px 30px;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.3s ease;
   }
    .navbar button:hover{
     background: rgb(212, 182, 177);
     color: white;
    }
    .navbar .active{
        padding-bottom: 2px;
        border-bottom: 2px solid #49558e;
    }

    .navbar li{
        cursor: pointer;
    }
    .navbar-search-icon{
        position: relative;
    }
    .navbar-search-icon .dot{
        position: absolute;
        top: -8px;
        right: -8px;
        min-width: 10px;
        min-height: 10px;
        background: #ff6b6b;
        border-radius: 5px;
    }